body {
    overflow-x:hidden ;
    background-color: #eae9e7;
}
.clear {
    clear: both;
}

.left {
    float:left;
}

.right {
    float:right;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 30px;
}

section.sectionHp {
    width: 100vw;
    height: 100vh;
}

section.sectionHp .logo {
    font-family: 'open_sanssemibold';
    font-size: 34px;
    color: #ffffff;
    padding: 12px 10px;
    border: solid 1px #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 50px;
    float:left;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

section.sectionHp .logo:hover {
    transform: rotate(180deg);
}

.regular {
    font-family: 'open_sansregular';
}

.semibold {
    font-family: 'open_sanssemibold';
}

.toggle-menu {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background: none;
    float: right;
}

.toggle-menu:focus {
    outline: none;
}

.toggle-menu span {
    display: block;
    position: absolute;
    top: 30px;
    left: 18px;
    right: 18px;
    height: 4px;
    background: white;
}

.toggle-menu span::before,
.toggle-menu span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

.toggle-menu span::before {
    top: -20px;
}

.toggle-menu span::after {
    bottom: -20px;
}

.toggle-menu-open span {
    transition: background 0s 0.3s;
}

.toggle-menu-open span::before,
.toggle-menu-open span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.toggle-menu-open span::before {
    transition-property: top, transform;
}

.toggle-menu-open span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.toggle-menu-open.is-active {
    background:none;
}

.toggle-menu-open.is-active span {
    background: none;
}

.toggle-menu-open.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.toggle-menu-open.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.toggle-menu-open.is-active span::before,
.toggle-menu-open.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.sectionHp h1 {
    color: #ffffff;
    font-size: 84px;
    border-bottom: 12px solid #ffffff;
    padding-bottom: 25px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 10vh;
}

.sectionHp #bigHr {
    background: none;
    transition: all 0.4s;
    width: 644px;
    height: 12px;
    display: block;
    margin-bottom: 25px;
}

.sectionHp #bigHr.activeTitle {
    transform: translate(0px, -250px);
    background: #ffffff;
}

.sectionHp h1 .lowWidth {
    font-size: 78px;
}

#menu {
    display: none;
    transition: all 0.6s;
    float: left;
    width: 490px;
    margin-top: 10vh;
}

#menu li {
    text-align: center;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 35px;
}

#menu li a {
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
}

#menu li .smallHr {
  display: block;
    width: 50px;
    border-bottom: 3px solid #fff;
    margin: 0 auto;
    margin-top: 20px;
}

h2 {
    font-family: 'open_sanssemibold';
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
    color: #111;
}

h3 {
    font-family: 'open_sanssemibold';
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 16px;
    color: #3C3B3B;
}

p {
    color: #3C3B3B;
    line-height: 20px;
}
a, a:focus, a:target, a:hover {
    color: #5D5D5D;
    text-decoration: none;
}

section.about {
    width: 100vw;
    height: auto;
    border-bottom: solid 4px #111;
    color: #111;
}
section.about img {
    width:96px;
    margin-right: 30px;
}

section.about p {
    width: 75%;
    color: #111;;
}

section.about ul {
    margin-left: 126px;
    margin-top: 20px;
}

section.about ul li {
    list-style: disc;
    list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 5px;
}

section.skills {
    width: 100vw;
    height: auto;
}

section.skills li {
    list-style: disc;
    padding-left: 25px;
    list-style-position: inside;
    margin-bottom: 4px;
}

section.skills .column-skill {
    float:left;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 30px;

}

#backToTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}