@media only screen and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    section.sectionHp {
        width: 100vw;
        height: 100vh;
    }

    .sectionHp h1 {
        font-size: 34px;
        float: left;
        margin-top: 0vh;

    }

    .sectionHp h1 .lowWidth {
        font-size: 32px;
    }
    h2 {
        text-align: center;
    }

    .left {
        float:none;
    }

    .toggle-menu {
        margin-right: 15px;
    }

    section.sectionHp {
        width: 100vw;
        height: 100vh;
    }

    .sectionHp h1 {
        font-size: 34px;
        width: 90%;
        text-align: center;
    }

    .sectionHp #bigHr {
        position: absolute;
        width: 86%;
        margin-top: 92px;
    }

    .sectionHp #bigHr.activeTitle {
        transform: translate(0px, -120px);
        background: #ffffff;
    }

    .sectionHp h1 .lowWidth {
        font-size: 32px;
    }

    #menu {
        width: 90%;
    }

    section.about p {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }

    section.about img {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    section.about ul {
         margin-left: 0px;
    }

    section.skills .column-skill {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
